@model SyncfusionASPNETCoreApplication2.Models.AFacilities

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AFacilities</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FacilityCode" />
            <div class="form-group">
                <label asp-for="DeliveryZoneCode" class="control-label"></label>
                <select asp-for="DeliveryZoneCode" class="form-control" asp-items="ViewBag.DeliveryZoneCode"></select>
                <span asp-validation-for="DeliveryZoneCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImplimentingPartnerCode" class="control-label"></label>
                <input asp-for="ImplimentingPartnerCode" class="form-control" />
                <span asp-validation-for="ImplimentingPartnerCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistrrictCode" class="control-label"></label>
                <select asp-for="DistrrictCode" class="form-control" asp-items="ViewBag.DistrrictCode"></select>
                <span asp-validation-for="DistrrictCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facility" class="control-label"></label>
                <input asp-for="Facility" class="form-control" />
                <span asp-validation-for="Facility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SapCode" class="control-label"></label>
                <input asp-for="SapCode" class="form-control" />
                <span asp-validation-for="SapCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportedByMaul" class="control-label"></label>
                <input asp-for="SupportedByMaul" class="form-control" />
                <span asp-validation-for="SupportedByMaul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAccredited" class="control-label"></label>
                <input asp-for="IsAccredited" class="form-control" />
                <span asp-validation-for="IsAccredited" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LevelOfCare" class="control-label"></label>
                <select asp-for="LevelOfCare" class="form-control" asp-items="ViewBag.LevelOfCare"></select>
                <span asp-validation-for="LevelOfCare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientTypeCode" class="control-label"></label>
                <select asp-for="ClientTypeCode" class="form-control" asp-items="ViewBag.ClientTypeCode"></select>
                <span asp-validation-for="ClientTypeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionCode" class="control-label"></label>
                <input asp-for="RegionCode" class="form-control" />
                <span asp-validation-for="RegionCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RfsoUserName" class="control-label"></label>
                <input asp-for="RfsoUserName" class="form-control" />
                <span asp-validation-for="RfsoUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnershipId" class="control-label"></label>
                <select asp-for="OwnershipId" class="form-control" asp-items="ViewBag.OwnershipId"></select>
                <span asp-validation-for="OwnershipId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdcregionId" class="control-label"></label>
                <select asp-for="CdcregionId" class="form-control" asp-items="ViewBag.CdcregionId"></select>
                <span asp-validation-for="CdcregionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityTypeId" class="control-label"></label>
                <select asp-for="FacilityTypeId" class="form-control" asp-items="ViewBag.FacilityTypeId"></select>
                <span asp-validation-for="FacilityTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longtitude" class="control-label"></label>
                <input asp-for="Longtitude" class="form-control" />
                <span asp-validation-for="Longtitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latititude" class="control-label"></label>
                <input asp-for="Latititude" class="form-control" />
                <span asp-validation-for="Latititude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VillageId" class="control-label"></label>
                <select asp-for="VillageId" class="form-control" asp-items="ViewBag.VillageId"></select>
                <span asp-validation-for="VillageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComprehensiveImplimentingPartnerCode" class="control-label"></label>
                <select asp-for="ComprehensiveImplimentingPartnerCode" class="form-control" asp-items="ViewBag.ComprehensiveImplimentingPartnerCode"></select>
                <span asp-validation-for="ComprehensiveImplimentingPartnerCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientLoadCode" class="control-label"></label>
                <select asp-for="PatientLoadCode" class="form-control" asp-items="ViewBag.PatientLoadCode"></select>
                <span asp-validation-for="PatientLoadCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NearestPublicHfDistance" class="control-label"></label>
                <input asp-for="NearestPublicHfDistance" class="form-control" />
                <span asp-validation-for="NearestPublicHfDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dsdm" class="control-label"></label>
                <input asp-for="Dsdm" class="form-control" />
                <span asp-validation-for="Dsdm" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ActiveArt" /> @Html.DisplayNameFor(model => model.ActiveArt)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
